<h2>
  Your webhook URL
</h2>

<p>
  <%= api_webhook_url(@webhook) %>
</p>

<% if @handlers.empty? %>
  <ul class="list-group">
    <li class="list-group-item text-muted text-center">
      No handlers defined
    </li>
  </ul>
<% else %>
  <ul class="list-group">
    <% @handlers.each do |handler| %>
      <li class="list-group-item">
        <%= handler.name %>
        <%= link_to "Delete", webhook_handler_path(@webhook, handler), data: {method: :delete, confirm: "Are you sure?"}, class: "float-right" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "New handler", new_webhook_handler_path(@webhook), class: "btn btn-primary btn-block" %>
