Webhook URL: <%= api_webhook_url(@webhook) %>

<% if @handlers.empty? %>
  <p>No handlers defined</p>
<% else %>
  <ul>
    <% @handlers.each do |handler| %>
      <li>
        handler <%= handler.name %>
        <%= link_to "Delete", webhook_handler_path(@webhook, handler), data: {method: :delete, confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "New handler", new_webhook_handler_path(@webhook) %>
